.btn{
    padding: 4px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;

    // sass
    &:hover{
        cursor: pointer;
        opacity: 0.7;
    }
}

.primary{
    color: white;
    background-color: #007bfe;
}

.disable{
    opacity: 0.5;
    pointer-events: none;
}